<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>firstName</key>
		<string>Cara</string>
		<key>lastName</key>
		<string>D</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Rene</string>
		<key>lastName</key>
		<string>G</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Erika</string>
		<key>lastName</key>
		<string>Feldman</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Sarah</string>
		<key>lastName</key>
		<string>Hermanns</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Brad</string>
		<key>lastName</key>
		<string>Johnson</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Jung</string>
		<key>lastName</key>
		<string>Kim</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Robert</string>
		<key>lastName</key>
		<string>Klein</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Kevin</string>
		<key>lastName</key>
		<string>Lam</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Hsia-Chou</string>
		<key>lastName</key>
		<string>Lin</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Randy</string>
		<key>lastName</key>
		<string>McLain</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Jayden</string>
		<key>lastName</key>
		<string>Tan</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Reeve</string>
		<key>lastName</key>
		<string>Vogel</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Jacquin</string>
		<key>lastName</key>
		<string>Wynn</string>
	</dict>
</array>
</plist>
